*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  margin: 0px 0px 0px 0px
a
  text-decoration: none
  cursor: pointer
li
  list-style: none
.container
  width: 1200px
  margin: auto
.row
  
header
  background: url('../img/Bg.png') top no-repeat
  background-size: cover
  background-attachment: fixed
  min-height: 100vh
.header-wrap
  display: flex
  justify-content: space-between
  line-height: 2
.header

		&__logo

		&__menu

		&__phone

.menu

		&__body

		&__list
      display: flex
		&__link
      margin: 0px 10px
.main

		&__title

		&__desc

		&__btn